{% extends 'inc/nav.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-light   p-3">
                <hr>
                <h5>Password Reset Conplete Page</h5>
                <hr>
                <div class="alert alert-info">
                <h6>Your password has been sucessfully changed. Go to log in to stay logged in</h6>
            </div>
            </div>
        </div><br><br><br><br><br><br>
    </div>
</div>
{% endblock %}
